{% set title = 'Main page' %}
{% include 'parts/_head.html' %}
<main>
    <section class="exp wrapper">
        <h1 class="exp__h1">Grid experiment</h1>
        <div class="row">
            <div class="block block1"></div>
            <div class="block block2"></div>
            <div class="block block3"></div>
            <div class="block block4"></div>
            <div class="block block5"></div>
            <div class="block block6"></div>
        </div>
    </section>
</main>

{% include 'parts/_footer.html' %}