@import 'libs/smart-grid.less';
@import 'libs/vars.less';
@import 'libs/mixins.less';


/* Set defaults */

html,
body{
	box-sizing: border-box;
}

*,
*:before,
*:after{
	box-sizing: inherit;
}

body{
	font-family: 'Montserrat', 'Open Sans', 'Arial', sans-serif;
	font-size: 16px;
	font-weight: @fontNormal;
	line-height: 1.2;
}

img,
video{
	max-width: 100%;
	height: auto;
}

a{
	text-decoration: none;
	color: @aColor;

	&:hover {
		color: @aHover;
	}
}

.main-header {
	max-width: 1200px;
	margin: 0 auto;
	background-color: @backColor;
	color: #111;
	padding: 10px;

	&--logolink {
		&:hover {
			path {
				fill: @svgColor;
			}
		}
	}
}

h2 {
	.mb(30px);
}
