<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<header class="main-header">
    <a class="main-header--logolink" href="index.html">{% include 'parts/svgo/logo-ofpery.svg' %}</a>

    <nav class="main-header--nav nav">
        {%
        set menuLinks = [
        {
        link:'index.html',
        text: 'Main page'
        },
        {
        link:'schedule.html',
        text: 'Schedule'
        },
        {
        link:'prices.html',
        text: 'Prices'
        }
        ]
        %}
        {% for link in menuLinks %}
        <a class="nav--link" href="{{ link.link }}">{{ link.text }}</a>
        {% endfor %}
    </nav>
</header>